<p id="notice"><%= notice %></p>

<% if @seller == current_seller %>
  <%= link_to 'アカウント設定', edit_seller_registration_path %>
<% end %>

<dl class="dl-horizontal">
  <dt>メールアドレス</dt>
  <dd><%= @seller.email %></dd>
  <dt>名前</dt>
  <dd><%= @seller.name %></dd>
</dl>

<%= link_to '販売商品一覧', seller_products_path(@seller) %>
