<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><%= link_to 'top', root_path %></li>
    <li><%= link_to '販売者一覧', sellers_path %></li>
    <li><%= link_to '商品一覧', products_path %></li>
    <li><%= link_to 'カテゴリ一覧', categories_path %></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if current_seller %>
      <li><%= link_to '商品管理', seller_products_path(current_seller) %></li>
      <li><%= link_to 'マイページ', seller_path(current_seller) %></li>
      <li><%= link_to 'アカウント設定', edit_seller_registration_path %></li>
      <li><%= link_to 'ログアウト', destroy_seller_session_path, :method => :delete %></li>
    <% elsif current_buyer %>
      <li><%= link_to '注文履歴', buyer_orders_path %></li>
      <li><%= link_to 'マイページ', buyer_path(current_buyer) %></li>
      <li><%= link_to 'アカウント設定', edit_buyer_registration_path %></li>
      <li><%= link_to 'ログアウト', destroy_buyer_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to '販売者ログイン', seller_session_path %></li>
      <li><%= link_to '購買者ログイン', buyer_session_path %></li>
    <% end %>
  </ul>
</nav>
